In [2]:
from os import getenv
from datetime import date

import pandas as pd
import requests
import country_converter as coco
import folium
from bs4 import BeautifulSoup
from sqlalchemy import create_engine, text

In [3]:
engine = create_engine(getenv('SQLALCHEMY_RELOHELPER_URL'))

# I get it from Wikipedia and save country codes and the U.S. state codes tables in the database.
And make those codes the primary keys.

### Table of all countries and Alpha 3 codes

In [4]:
url_countries = 'https://en.wikipedia.org/wiki/ISO_3166-1'

df_countries = pd.read_html(url_countries)[1]
df_countries.rename(columns={'English short name (using title case)': 'country',
                             'Alpha-3 code': 'country_code',
                             'Independent': 'independent'}, inplace=True)
df_countries = df_countries.iloc[:, [2, 0, 5]]
for country_code, row in df_countries.iterrows():
    if country_code != 'VGB' and country_code != 'VIR':
        row['country'] = row['country'].strip('"')
        row['country'] = row['country'].split(' (')[0]
        row['country'] = row['country'].split('[')[0]
        row['country'] = row['country'].split(',')[0]

df_countries.head(2)

  country_code        country independent
0          AFG    Afghanistan         Yes
1          ALA  Åland Islands          No

In [5]:
df_countries.to_sql('country', engine, index=False)
with engine.connect() as connection:
    connection.execute(text("ALTER TABLE country ADD CONSTRAINT PK_country_code PRIMARY KEY (country_code)"))
    connection.commit()

### Table of all U.S. states in ISO format

In [6]:
url_states = 'https://en.wikipedia.org/wiki/ISO_3166-2:US'
df_states = pd.read_html(url_states)[0]
df_states.columns = ['state_code', 'state_name', 'category']
df_states.head(2)

  state_code state_name category
0      US-AL    Alabama    State
1      US-AK     Alaska    State

In [7]:
df_states.to_sql('state', engine, index=False)
with engine.connect() as connection:
    connection.execute(text("ALTER TABLE state ADD CONSTRAINT PK_state_code PRIMARY KEY (state_code)"))
    connection.commit()

# Numbeo. Analyzing and scraping cities and their indices.

As a basis I take the table Numbeo "Current Cost of Living Index", which currently has 522 cities and, so far, it is not clear how many countries and how many cities are in these countries.

In [8]:
url = 'https://www.numbeo.com/cost-of-living/rankings_current.jsp'
df = pd.read_html(url)[1]
df.head(2)

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,NaN,"Hamilton, Bermuda",137.6,92.4,116.1,141.3,138.6,75.9
1,NaN,"Basel, Switzerland",129.5,46.8,90.1,135.6,122.3,118.7

I add other Numbeo indexes related to cities. The indexes are duplicated in different tables but cover a different number of cities. I choose the ones with more cities.

In [9]:
indexes_dict = {
    'https://www.numbeo.com/quality-of-life/rankings_current.jsp':
        ['City',
         'Quality of Life Index',
         'Property Price to Income Ratio',
         'Traffic Commute Time Index',
         'Climate Index'],
    'https://www.numbeo.com/crime/rankings_current.jsp': ['City', 'Safety Index'],
    'https://www.numbeo.com/health-care/rankings_current.jsp': ['City', 'Health Care Index'],
    'https://www.numbeo.com/pollution/rankings_current.jsp': ['City', 'Pollution Index']
}

In [10]:
for key, value in indexes_dict.items():
    df_temp = pd.read_html(key)[1][value]
    df = df.merge(df_temp, how='left', on='City')

df.drop(['Rank', 'Restaurant Price Index'], axis=1, inplace=True)
df.columns = list(map(lambda x: x.removesuffix(' Index').lower().replace(' ', '_'), df.columns))
df.rename(columns={'city': 'city_country'}, inplace=True)
#df.head(3)

I add links to the table to the pages of these cities with a strict indication of the USD currency

In [11]:
response = requests.get(url).text
soup = BeautifulSoup(response, 'lxml')
links = soup.find_all('td', class_='cityOrCountryInIndicesTable')

href_list = []
for i in links:
    href_list.append([i.find('a').text, i.find('a').get('href') + '?displayCurrency=USD'])

city_link = pd.DataFrame(href_list, columns=['city_country', 'link'])

df = df.merge(city_link, how='left', on='city_country')

### Split City - State - Country

In [12]:
split_table1 = df['city_country'].str.rsplit(', ', n=1, expand=True)
split_table1.columns = ['city_state', 'country']

split_table2 = split_table1['city_state'].str.split(', ', n=1, expand=True)
split_table2.columns = ['city', 'state_code']

df = pd.concat([split_table2, split_table1['country'], df], axis=1)

df['city'] = df.apply(lambda row: row.city.split(' (')[0], axis=1)  # removing duplicate cities in brackets

#df.head()

### Adding alpha_3 code to countries

I will delete Kosovo first because it has no alpha3 code.

In [13]:
df = df.drop(df.loc[df['country'] == 'Kosovo (Disputed Territory)'].index)

In [14]:
new_df = pd.DataFrame({'country': df['country'].unique()})
new_df['country_code'] = new_df.apply(lambda row: coco.convert(names=row.country, to='ISO3'), axis=1)
df = df.merge(new_df, how='left', on='country')

#df['country_code'] = df.apply(lambda row: coco.convert(names=row.country, to='ISO3') , axis = 1) - can be on one line, but it takes 4 times as long
df.head(3)

,city,state_code,country,city_country,cost_of_living,rent,cost_of_living_plus_rent,groceries,local_purchasing_power,quality_of_life,property_price_to_income_ratio,traffic_commute_time,climate,safety,health_care,pollution,link,country_code
0,Hamilton,None,Bermuda,"Hamilton, Bermuda",137.6,92.4,116.1,141.3,75.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.numbeo.com/cost-of-living/in/Hamil...,BMU
1,Basel,None,Switzerland,"Basel, Switzerland",129.5,46.8,90.1,135.6,118.7,NaN,NaN,NaN,NaN,77.3,NaN,NaN,https://www.numbeo.com/cost-of-living/in/Basel...,CHE
2,Zurich,None,Switzerland,"Zurich, Switzerland",128.2,70.6,100.7,121.5,106.7,178.6,14.9,35.6,81.5,79.1,71.8,20.9,https://www.numbeo.com/cost-of-living/in/Zuric...,CHE

### Adding a code to USA states
There are two non-U.S. state values.
I will assign all of these values to None.
I will add "US- " to the U.S. states to bring them to the ISO standard for U.S. states.

In [15]:
df[df['state_code'].notnull() & (df['country'] != "United States")]

,city,state_code,country,city_country,cost_of_living,rent,cost_of_living_plus_rent,groceries,local_purchasing_power,quality_of_life,property_price_to_income_ratio,traffic_commute_time,climate,safety,health_care,pollution,link,country_code
111,St. John's,Newfoundland and Labrador,Canada,"St. John's, Newfoundland and Labrador, Canada",70.4,20.9,46.8,69.5,97.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.numbeo.com/cost-of-living/in/St-Jo...,CAN
113,Nanaimo,BC,Canada,"Nanaimo, BC, Canada",70.3,34.3,53.1,71.4,78.1,NaN,NaN,NaN,NaN,47.8,NaN,NaN,https://www.numbeo.com/cost-of-living/in/Nanai...,CAN

In [16]:
indexes = df[df['state_code'].notnull() & (df['country'] != "United States")]['state_code'].index
df.loc[indexes, 'state_code'] = None

df['state_code'] = df.apply(lambda row: f"US-{row['state_code']}" if row['state_code'] != None else None, axis=1)

# Map
There are 505 cities in the Numbeo index, but it is not clear which countries, many or few. How many cities are in these countries and what proportions? The total numbers won't tell me much, it would be much clearer to show them on a map.

In [17]:
map_df = df.groupby('country_code')['city'].nunique().reset_index().sort_values('city', ascending=False)

m = folium.Map(location=[37.87820990704326, 6.555063556986549], zoom_start=1.5)
folium.Choropleth(
    geo_data='./data/world.geojson',
    name="choropleth",
    data=map_df,
    columns=['country_code', 'city'],
    key_on="feature.properties.ISO_A3",
    fill_color="YlGn",
    nan_fill_color='pink',
    fill_opacity=0.8,
    bins=7,
    reset=True,
    highlight=True,
    legend_name='Count of cities'
).add_to(m)

In [18]:
# m - show interactive map by folium

![title](./data/map.png)

On GitHub the interactive map is not displayed, so instead of displaying a map, I inserted a picture.

Now I can see which countries are in the index and which are not, and how many cities are in each country. I'm fine with it, except I don't need so many cities in India. I will remove the unnecessary (save 2 cities).

In [19]:
india = df.loc[(df['country'] == 'India') &
               (df['city'] != 'Delhi') &
               (df['city'] != 'Mumbai')]

df = df.drop(india.index)

I will prepare the indexes (Primary Key) for the future table in postgres, so I can immediately load it into the database.

In [20]:
df.reset_index(drop=True, inplace=True)
df.insert(0, 'city_id', df.index + 1)
df.head(3)

,city_id,city,state_code,country,city_country,cost_of_living,rent,cost_of_living_plus_rent,groceries,local_purchasing_power,quality_of_life,property_price_to_income_ratio,traffic_commute_time,climate,safety,health_care,pollution,link,country_code
0,1,Hamilton,None,Bermuda,"Hamilton, Bermuda",137.6,92.4,116.1,141.3,75.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.numbeo.com/cost-of-living/in/Hamil...,BMU
1,2,Basel,None,Switzerland,"Basel, Switzerland",129.5,46.8,90.1,135.6,118.7,NaN,NaN,NaN,NaN,77.3,NaN,NaN,https://www.numbeo.com/cost-of-living/in/Basel...,CHE
2,3,Zurich,None,Switzerland,"Zurich, Switzerland",128.2,70.6,100.7,121.5,106.7,178.6,14.9,35.6,81.5,79.1,71.8,20.9,https://www.numbeo.com/cost-of-living/in/Zuric...,CHE

I add to the table 'state_name' from the database. And I save with the right columns and Primary Keys in the index for scraping to a file.

In [21]:
states_tbl = pd.read_sql('state', engine).loc[:, ['state_code', 'state_name']]
df = df.merge(states_tbl, on='state_code', how='left')
df_to_file = df.iloc[:, [0, 1, 2, -1, 3, -2, 4, -3]].copy()
df_to_file.set_index('city_id', inplace=True)
df_to_file.to_pickle("./data/numbeo_links.pkl")

I form and load a table of cities in the database with information about who added the data to the table and assign keys.

In [22]:
df_cities = df.iloc[:, [0, 1, 2, -2]].copy()
df_cities.to_sql('city', engine, if_exists='append', index=False)

stmt1 = "ALTER TABLE city ADD CONSTRAINT PK_city_id PRIMARY KEY (city_id)"
stmt2 = "ALTER TABLE city ADD CONSTRAINT FK_country_code FOREIGN KEY (country_code) REFERENCES public.country (country_code)"
stmt3 = "ALTER TABLE city ADD CONSTRAINT FK_state_code FOREIGN KEY (state_code) REFERENCES public.state (state_code)"

with engine.connect() as connection:
    connection.execute(text(stmt1))
    connection.execute(text(stmt2))
    connection.execute(text(stmt3))
    connection.commit()

# I form a table of indices numbeo by city + upload it to the database

In [23]:
df_city_index = df.iloc[:, [0] + list(range(5, 17))].copy()
# добавляю столбцы когда и кем добавлены данные в таблицу
df_city_index.loc[:, ('sys_updated_date', 'sys_updated_by')] = (date.today(), getenv('NB_USER'))
df_city_index.head(2)

,city_id,cost_of_living,rent,cost_of_living_plus_rent,groceries,local_purchasing_power,quality_of_life,property_price_to_income_ratio,traffic_commute_time,climate,safety,health_care,pollution,sys_updated_date,sys_updated_by
0,1,137.6,92.4,116.1,141.3,75.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-09,analyst_k2
1,2,129.5,46.8,90.1,135.6,118.7,NaN,NaN,NaN,NaN,77.3,NaN,NaN,2023-08-09,analyst_k2

In [24]:
df_city_index.to_sql('numbeo_index_by_city', engine, index=False)
stmt4 = "ALTER TABLE numbeo_index_by_city ADD CONSTRAINT PK_numbeo_index_by_city PRIMARY KEY (city_id)"
stmt5 = "ALTER TABLE numbeo_index_by_city ADD CONSTRAINT FK_numbeo_index_by_city FOREIGN KEY (city_id) REFERENCES public.city (city_id)"
with engine.connect() as connection:
    connection.execute(text(stmt4))
    connection.execute(text(stmt5))
    connection.commit()

# I form a table of indices nambeo by country + upload it to the database

#### From Cost of Living Index by Country 2022

In [25]:
df_col_index = pd.read_html('https://www.numbeo.com/cost-of-living/rankings_by_country.jsp')[1]
df_col_index.drop('Rank', axis=1, inplace=True)
df_col_index.columns = list(map(lambda x: x.removesuffix(' Index').lower().replace(' ', '_'), df_col_index.columns))

#### From Quality of Life Index by Country

In [26]:
df_qol_index = pd.read_html('https://www.numbeo.com/quality-of-life/rankings_by_country.jsp')[1]
df_qol_index.drop(['Rank', 'Cost of Living Index', 'Safety Index'], axis=1, inplace=True)
df_qol_index.columns = list(map(lambda x: x.removesuffix(' Index').lower().replace(' ', '_'), df_qol_index.columns))

#### From Average Monthly Net Salary by Country

In [40]:
df_salary_index = pd.read_html('https://www.numbeo.com/cost-of-living/country_price_rankings?itemId=105')[1]
df_salary_index.drop([0, 2], axis=1, inplace=True)
df_salary_index[3] = df_salary_index[3].apply(lambda row: float(row.rstrip('\xa0$').replace(',', '')))
df_salary_index.rename(columns={1: 'country', 3: 'avg_salary_usd'}, inplace=True)

#### From Crime Index by Country

In [28]:
df_safety_index = pd.read_html('https://www.numbeo.com/crime/rankings_by_country.jsp')[1]
df_safety_index = df_safety_index[['Country', 'Safety Index']]
df_safety_index.columns = ['country', 'safety']

#### Merge 4 Country Tables

In [29]:
df_country_index = df_col_index.merge(df_qol_index, how='left', on='country')
df_country_index = df_country_index.merge(df_salary_index, how='left', on='country')
df_country_index = df_country_index.merge(df_safety_index, how='left', on='country')
# добавляю столбцы когда и кем добавлены данные в таблицу
df_country_index.loc[:, ('sys_updated_date', 'sys_updated_by')] = (date.today(), getenv('NB_USER'))

Removing Kosovo

In [30]:
df_country_index = df_country_index.drop(
    df_country_index.loc[df_country_index['country'] == 'Kosovo (Disputed Territory)'].index)

In [31]:
df_country_index['country_code'] = df_country_index.apply(lambda row: coco.convert(names=row.country, to='ISO3'),
                                                          axis=1)
df_country_index = df_country_index.reindex(columns=['country_code'] + list(df_country_index.columns[1:-1]))
df_country_index.head(2)

,country_code,cost_of_living,rent,cost_of_living_plus_rent,groceries,restaurant_price,local_purchasing_power,quality_of_life,purchasing_power,health_care,property_price_to_income_ratio,traffic_commute_time,pollution,climate,avg_salary(usd),safety,sys_updated_date,sys_updated_by
0,BMU,141.1,93.0,118.2,143.8,141.2,75.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-09,analyst_k2
1,CHE,117.3,50.6,85.6,114.2,111.9,110.8,185.8,110.8,73.4,11.0,30.2,21.2,79.6,6292.08,75.1,2023-08-09,analyst_k2

In [33]:
df_country_index.to_sql('numbeo_index_by_country', engine, if_exists='append', index=False)

stmt6 = "ALTER TABLE numbeo_index_by_country ADD CONSTRAINT PK_country_code2 PRIMARY KEY (country_code)"
stmt7 = "ALTER TABLE numbeo_index_by_country ADD CONSTRAINT FK_country_code FOREIGN KEY (country_code) REFERENCES public.country (country_code)"

with engine.connect() as connection:
    connection.execute(text(stmt6))
    connection.execute(text(stmt7))
    connection.commit()

# Correction for 2023

### Legatum Prosperity Index 2023 to Data Base

In [34]:
df_prosperity = pd.read_csv('./data/Dataset_Legatum_Prosperity_Index_2023.csv', sep=';')
df_prosperity.rename(columns={'area_code': 'country_code'}, inplace=True)
df_prosperity.to_sql('legatum_index', engine, if_exists='append', index=False)

stmt6 = "ALTER TABLE legatum_index ADD CONSTRAINT PK_lagatum_index PRIMARY KEY (country_code, pillar_name)"
stmt7 = "ALTER TABLE legatum_index ADD CONSTRAINT FK_country_code FOREIGN KEY (country_code) REFERENCES public.country (country_code)"

with engine.connect() as connection:
    connection.execute(text(stmt6))
    connection.execute(text(stmt7))
    connection.commit()

### New preparations for scraping the climate
Currently, the climate scraping of US cities does not respond to the **`?c,mm,mb,km`** query parameter and is done in degrees **Fahrenheit** rather than degrees **Celsius** (etc). So I will put the US cities in a separate .pkl file. In the future I will do their scraping using Selenium.

In [35]:
df = pd.read_pickle("./data/numbeo_links.pkl")
len(df)

534

In [36]:
df_usa = df[df['country_code'] == 'USA']
df_usa.to_pickle("./data/numbeo_links_usa.pkl")
len(df_usa)

58

In [37]:
df_all = df[df['country_code'] != 'USA']
df_all.to_pickle("./data/numbeo_links_other.pkl")
len(df_all)

476

### Create auxiliary table 'month' for 'avg_climate'

In [38]:
with open("./sql/create_month.sql") as file:
    sql_script = file.read()
    with engine.connect() as connection:
        connection.execute(text(sql_script))
        connection.commit()

This is an option for using SQLAlchemy 2.0 
In SQLAlchemy 1.4, the "connection.commit()" command is not needed.

In [39]:
import os  
os.environ.setdefault('NB_USER', 'analyst_k2')  
os.environ.setdefault('SQLALCHEMY_RELOHELPER_URL', 'postgresql://postgres:5123@localhost:5432/relohelper')

'postgresql://postgres:5123@localhost:5432/relohelper'